.container {
  margin: 30px auto;
}

.header {
  background-color: #fff;
}

.header .content {
  padding: 65px 10px 2px;
  text-align: center;
}

.header .title {
  margin: 10px auto 20px;
  font-size: 22px;
  font-weight: bold;
  color: #545454;
  text-align: center;
}

.title {
  margin: 60px auto;
  text-align: center;
}

.subtitle {
  margin-left: 35%;
  margin-top: 5%;
}

.inputbox {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: px 0px 5px 0px;
  font-size: 14pt;
  width: 40%;
  margin-left: 35%;
}

.link {
  margin: 50px auto;
  text-align: center;
}

.inputbox {
  background: transparent;
  font-size: 12pt;
  font-family: "Gmarket Sans";
  width: 30%;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputbox:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
