.title {
  margin: 60px auto;
  text-align: center;
}

.subtitle {
  margin-top: 5%;
}

.link {
  margin: 50px auto;
  text-align: center;
}

.alignCenter {
  margin-left: 29%;
}

.inputbox {
  background: transparent;
  font-size: 14pt;
  width: 60%;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputbox:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
