.container {
  margin: 50px auto;
}

.title {
  margin: 60px;
  text-align: center;
}

.subtitle {
  margin-left: 25%;
  margin-top: 5%;
}

.leftmove {
  margin-left: 41.7%;
  margin-bottom: 10%;
}

.bottomMargin {
  margin-bottom: 50px;
}

.inputbox {
  background: transparent;
  font-size: 14pt;
  width: 60%;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  margin-top: -7%;
  margin-left: 21.5%;
  box-sizing: border-box;
  padding: 1%;
  font-family: "Gmarket Sans";
  transition: 0.3s;
  resize: none;
}

.inputbox:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.link {
  margin: 50px auto;
  text-align: center;
}

.star_rating {
  display: flex;
  margin-top: -5%;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star_rating input {
  display: none;
}

.star_rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.star_rating :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star_rating label:hover,
.star_rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

textarea::placeholder {
  font-size: 0.8em;
}
