.container {
  margin: 50px auto;
}

.header {
  background-color: #fff;
}

.header .content {
  padding: 65px 10px 2px;
  text-align: center;
}

.header .title {
  margin: 10px auto 20px;
  font-size: 22px;
  font-weight: bold;
  color: #545454;
  text-align: center;
}

.title {
  margin: 60px auto;
  text-align: center;
}

.subtitle {
  margin-left: 35%;
  margin-top: 5%;
}

.inputbox {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 55px 5px 0px;
  font-size: 14pt;
  width: 40%;
  margin-left: 35%;
  margin-bottom: 20px;
}

.link {
  margin: 50px auto;
  text-align: center;
}

.p {
  margin-left: 35%;
  margin-bottom: 40px;
  color: black;
  font-size: 20px;
}

.profile {
  width: 30%;
}
