.header {
  background-color: #fff;
  border-top: 10px solid #000;
}

.header .content {
  padding: 65px 10px 20px;
  text-align: center;
}

.header .title {
  margin: 10px auto 20px;
  font-size: 22px;
  font-weight: bold;
  color: #545454;
  text-align: center;
}

.header .summary {
  padding: 11px 68px;
  margin: 20px 0 0;
  font-size: 12px;
  color: #878787;
  background-color: #f9f9f9;
  border: solid 2px #f4f4f4;
  border-radius: 5px;
}

.topics {
  margin: 30px auto 100px;
}

.topic {
  padding: 28px 50px;
}

.topic:not(:last-child) {
  margin-bottom: 20px;
}

.topic .title {
  margin: 0 auto 10px;
  font-size: 18px;
  font-weight: 500;
  color: #545454;
}

.topic .summary {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: #878787;
}
